@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

.loginForm {
    position: absolute;
    top: 20vh;
    left: 50vw;
    transform: translateX(-40%);
    width: 300px;
}

.loginH1 {
    color: rgb(16, 114, 243);
    font-family: 'Roboto', sans-serif;
}

#outlined-basic,
#outlined-password-input { 
    margin: auto;
}

.typical-link{
    color: blue;
}

.typical-link:visited{
    color: purple;
}
.typical-link:hover{
    color: red;
}