.card-buttons{
margin: 0px 3px 0px 3px;
}

.btn{
    margin: 0px 3px 0px 3px;
}
/* 
.custom-btn-primary{
background-color: teal !important;
border-color: teal !important;
}

.custom-btn-danger{
    background-color: rgb(52,58,64) !important;
    border-color: rgb(52,58,64)  !important;
    } */